---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
import '../../styles/global.css';
import Navigation from '../../components/Navigation.astro';
---

<Layout title="博客列表">
  <Navigation />
  <h1>我的博客</h1>
  <ul>
    {posts.map((post) => (
      <li>
        <a href={`/blog/${post.id}`}>{post.data.title}</a>
        <small>{post.data.pubDate.toLocaleDateString()}</small>
      </li>
    ))}
  </ul>
</Layout>