---
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
import '../../styles/global.css';
---

<Layout title="博客列表">
  <a href="/">首页</a>
  <a href="/about/">关于</a>
  <a href="/blog/">博客</a>
  <h1>我的博客</h1>
  <ul>
    {posts.map((post) => (
      <li>
        <a href={`/blog/${post.id}`}>{post.data.title}</a>
        <small>{post.data.pubDate.toLocaleDateString()}</small>
      </li>
    ))}
  </ul>
</Layout>